@page
@model RepertoireManagementWeb.Pages.RepertoirePages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

@{
    var userIdStr = HttpContext.Session.GetString("UserId");
    Guid.TryParse(userIdStr, out var loggedUserId);
}

<h1>Repertoire</h1>

<table class="table">
    <thead>
        <tr class="primary-text-color">
            <th>
                @Html.DisplayNameFor(model => model.Repertoire[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repertoire[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repertoire[0].Band)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Repertoire)
        {
            <tr class="primary-text-color">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Band.Name)
                </td>
                <td>
                    <div class="d-flex gap-2">
                        @if (item.Band?.LeaderId == loggedUserId)
                        {
                            <div class="d-flex gap-2">
                                <a class="text-details" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="text-details" asp - page="./Delete" asp-route-id="@item.Id"> Delete </a> |
                                <a class="text-details" asp-page="./AddMusic" asp-route-repertoireId="@item.Id">Add Music</a> |
                            </div>
                        }
                        <a class="text-details" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a class="text-details" asp-page="./ListMusics" asp-route-repertoireId="@item.Id">See Musics</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.IsLeader)
{
    <div>
    <a class="btn btn-main" asp-page="Create">Create New</a>
    <hr />
    </div>
}
<a asp-page="/Index" class="btn btn-main">Back</a>