@page
@model RepertoireManagementWeb.Pages.RepertoirePages.MusicPage.ListMusicsModel
@{
    ViewData["Title"] = "Repertoire Musics";
}

<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

<h1>@Model.Repertoire.Name</h1>
<hr />

<h4 class="primary-text-color fw-bold px-2">Musics</h4>
@if (Model.MusicLinks.Any())
{
    <table class="table">
        <thead>
            <tr class="primary-text-color">
                <th>Music Info</th>
                <th>Title</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in Model.MusicLinks)
            {
                <tr class="primary-text-color">
                    @* <td>@link.OrderInRepertoire</td> *@
                    <td>
                        <a class="text-details" asp-page="/MusicPages/Details" asp-route-id="@link.Music.Id">
                            Music Info: @link.Music.Title
                        </a>
                    </td>
                    <td>@link.Music?.Title</td>
                    <td>
                        @if (!string.IsNullOrEmpty(link.Music?.ImageUrl))
                        {
                            <img src="@link.Music.ImageUrl" alt="Imagem" width="50" height="50" />
                        }
                        else
                        {
                            <span>No image</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="primary-text-color">This Repertoire Doesen't Have a Music</p>
}

<div>
    <a asp-page="Index" class="btn btn-main">Back</a>
</div>
