@page
@model RepertoireManagementWeb.Pages.MusicPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

@{
    var userIdStr = HttpContext.Session.GetString("UserId");
    Guid.TryParse(userIdStr, out var loggedUserId);
}

<h1>Music</h1>

<table class="table">
    <thead>
        <tr class="primary-text-color">
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Title)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Music[0].ImageUrl)
            </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.Music[0].PdfFile)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Music)
        {
            <tr class="primary-text-color">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td> *@
                @* <td>
                @Html.DisplayFor(modelItem => item.PdfFile)
            </td> *@
                <td>
                    <div class="d-flex gap-2">
                        @if (item.RepertoireLinks.FirstOrDefault()?.Repertoire?.Band?.LeaderId == loggedUserId)
                        {
                            <div>
                                <a class="text-details" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="text-details" asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                            </div>
                        }
                        <a class="text-details" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.IsLeader)
{
    <div>
        <a class="btn btn-main" asp-page="Create">Create New</a>
        <hr /> 
    </div>
}

<a asp-page="/Index" class="btn btn-main">Back</a>
