@page
@model RepertoireManagementWeb.Pages.RepertoireMusicPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Repertoire Musics</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RepertoireMusic[0].OrderInRepertoire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepertoireMusic[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepertoireMusic[0].Repertoire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepertoireMusic[0].Music)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RepertoireMusic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderInRepertoire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repertoire.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Music.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
